[user]
	name = Macko-py
	email = max.konietzko.maya@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
	ac = commit -am
